<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {% if page.particles %}
  <div id="particles-js" style="position: fixed; width: 100%; height: 100%; z-index: -1; top: 0; left: 0;"></div>
  
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  
  <script>
    particlesJS("particles-js", {
      "particles": {
        "number": { "value": 50 },
        "color": { "value": "#888888" },
        "line_linked": {
          "enable": true,
          "color": "#aaaaaa",
          "opacity": 0.4
        },
        "move": { "enable": true, "speed": 2 }
      },
      "interactivity": {
        "events": {
          "onhover": { "enable": true, "mode": "grab" }
        }
      }
    });
  </script>
{% endif %}

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      {%- include macro.html -%}
      
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

<!-- after loaded, replace non-ascii + \n + non-ascii with non-ascii + non-ascii -->
<script>
let tagnames = ["p", "li"];
for (let name of tagnames) {
//     console.log("name", name);
    let target_tags = document.getElementsByTagName(name)
    for (let i = 0; i < target_tags.length; i++) {
        let str = target_tags[i].innerHTML;
//         console.log(i, typeof(str), str.match(/([^\x00-\x7F])\n([^\x00-\x7F])/g));
        target_tags[i].innerHTML = str.replace(/([^\x00-\x7F])\n([^\x00-\x7F])/g, "$1$2");
        
    }
}
</script>
  
</html>
